{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}


<body>
  {% call componentHeader({
    "homepageUrl": "/",
    "expandedLogo": true,
    "subnav": {
      "text": "Servicio de presentación telemática de tributos"
    },
    "dropdown": {
      "text": "Marta Pérez",
      "items": [
        {
          "text": "Perfil",
          "href": "/"
        },
        {
          "text": "Cerrar sesión",
          "href": "/"
        }
      ]
    },
    "offcanvas": {
      "text": "Menu",
      "textClose": "Cerrar menu",
      "labelledId": "offcanvas-title"
    }
  })  %}
    <nav class="w-full p-2" aria-label="Menú móvil">
      <h3 class="p-base text-base font-bold">Servicio de presentación telemática de tributos</h3>

      <div class="mx-base border-b border-neutral-base"></div>

      <h3 class="p-base text-base font-bold">Usuario/a: Marta Pérez</h3>

      {{ componentNav({
        "hasNav": false,
        "idPrefix": "site-menu-item-2",
        "items": [
          {
            "href": "#",
            "text": "Perfil"
          },
          {
            "href": "#",
            "text": "Cerrar sesión"
          }
        ],
        "attributes": {
          "aria-label": "Navegación usuario"
        }
      })  }}
    </nav>
  {% endcall %}
  <main id="content" class="container mx-auto px-4 sm:px-6 lg:px-8">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "pages/_page.foot.njk" %}
