{% set title = "Test Template Page" %}
{% extends "pages/_template.default.njk" %}

{% block contentBlock %}
 <div class="m-xl border border-neutral-base p-xl rounded-xl">
 <p class="text-5xl text-alert-base">Hola mundo</p>

 {% from "components/button/_macro.button.njk" import componentButton %}
 {{ componentButton({
   
   "html": 'Busca en&nbsp;<span class="text-warning-base">Google</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"  class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z" fill="currentColor"/></svg> ',
   "href":"https://www.google.es",
   "classes":"mt-base",
   "attributes": {
     "target": "_blank",
     "title": "titulo caca"
   }
 })  }}
{% set palabra='movida1' %}
{% include 'includes/_mi-include.njk' %}

{% set palabra='movida2' %}
{% include 'includes/_mi-include.njk' %}

{% set palabra='movida3' %}
{% include 'includes/_mi-include.njk' %}


{% from "components/test-component/_macro.test-component.njk" import componentTestComponent %}
{{ componentTestComponent({
  "text": "This is a test component"
})  }}



 </div>



{# Remove the "caller" json parameter and use just the code between "call" and "endcall" instead #}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% call componentDropdown({
  "text": "Default",
  "caller": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
})  %}
    <div class=" w-48 p-2 ">
    <p>Esto es el texto famoso</p>

    
    <div class=" border-4 border-dashed border-gray-200 rounded-lg h-40 ">
    
    {{ componentButton({
   
   "html": 'Busca en&nbsp;<span class="text-warning-base">Google</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"  class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z" fill="currentColor"/></svg> ',
   "href":"https://www.google.es",
   "classes":"mt-base",
   "attributes": {
     "target": "_blank",
     "title": "titulo caca"
   }
 })  }}
    </div>
 <div class=" border-4 border-dashed border-gray-200 rounded-lg h-40 ">
    
{{ componentButton({
   
   "html": 'Busca en&nbsp;<span class="text-warning-base">Google</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"  class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z" fill="currentColor"/></svg> ',
   "href":"https://www.google.es",
   "classes":"mt-base",
   "attributes": {
     "target": "_blank",
     "title": "titulo caca"
   }
 })  }}
    

    
    </div>
{% endcall %}






{% endblock %}