{% set title = "Rellena tus datos. Servicio de presentación telemática de tributos. Gobierno de Aragón" %}
{% extends "pages/_template.default.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/details/_macro.details.njk" import componentDetails %}


{% block contentBlock %}

  {% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
  {{ componentErrorSummary({
    "titleText": "Error en el formulario",
    "headingLevel": 2,
    "errorList": [
      {
        "text": "Introduce tu NIF en un formato adecuado",
        "href": "#nif"
      },
      {
        "text": "El campo de nombre no puede estar vacío",
        "href": "#nombre"
      }
    ],
    "classes": "mt-base"
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg> Volver al paso anterior',
    "classes": "c-button--transparent my-base"
  })  }}
  <h1 class="c-h1">Rellena tus datos</h1>
  <p class="c-paragraph-base mb-0">
    Necesitamos tus datos para registrarte y comunicarnos contigo. Una vez finalizado el registro podrás, posteriormente, modificar alguno de estos datos si lo deseas.
  </p>
  <p class="c-paragraph-base mb-xl">
  * Todos los campos marcados con asterisco son obligatorios.
  </p>
  <form action="submitForm();" id="mi-formulario">
    {{ componentInput({
      "label": {
        "text": "NIF *"
      },
      "hint": {
        "text": "Ej: 12345678M"
      },
      "id": "nif",
      "name": "nif",
      "errorMessage": {
        "text": "Error: Introduce tu NIF en un formato adecuado"
      },
      "pattern": "([a-z]|[A-Z]|[0-9])[0-9]{7}([a-z]|[A-Z]|[0-9])",
      "attributes": {
        "required": "",
        "size": "10",
        "maxlength": "9"
      },
      "formGroup": {
        "classes": "w-full lg:w-1/2"
      }
    })  }}
    {{ componentInput({
      "label": {
        "text": "Nombre *"
      },
      "id": "nombre",
      "name": "nombre",
      "classes": "w-full",
      "formGroup": {
        "classes": "w-full lg:w-1/2"
      },
      "errorMessage": {
        "text": "Error: Este campo no puede estar vacío"
      },
      "attributes": {
        "required": ""
      }
    })  }}
    {{ componentInput({
      "label": {
        "text": "Primer apellido *"
      },
      "id": "primer-apellido",
      "name": "primer-apellido",
      "classes": "w-full",
      "formGroup": {
        "classes": "w-full lg:w-1/2"
      },
      "attributes": {
        "required": ""
      }
    })  }}
    {{ componentInput({
      "label": {
        "text": "Segundo apellido *"
      },
      "id": "segundo-apellido",
      "name": "segundo-apellido",
      "classes": "w-full",
      "formGroup": {
        "classes": "w-full lg:w-1/2"
      },
      "attributes": {
        "required": ""
      }
    })  }}
    {% call componentFieldset({
      "legend": {
        "text": "Dirección postal",
        "classes": "mb-sm font-bold"
      }
    })  %}
      <div class="lg:flex lg:gap-base lg:items-end">
        {{ componentSelect({
          "id": "siglas",
          "name": "siglas",
          "label": {
            "text": "Siglas *"
          },
          "items": [
            {
              "value": "",
              "text": "Tipos de via",
              "selected": true,
              "disabled": true,
              "attributes": {
                "hidden": ""
              }
            },
            {
              "value": 2,
              "text": "Option 2"
            },
            {
              "value": 3,
              "text": "Option 3"
            }
          ],
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:w-2/12"
          },
          "attributes": {
            "required": ""
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Via *"
          },
          "id": "via",
          "name": "via",
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:flex-1"
          },
          "attributes": {
            "required": ""
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Número *"
          },
          "id": "numero",
          "name": "numero",
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          },
          "attributes": {
            "required": ""
          },
          "errorMessage": {
            "text": "Error: Este campo no puede estar vacío",
            "classes": "text-sm leading-tight"
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Escalera"
          },
          "id": "escalera",
          "name": "escalera",
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Piso"
          },
          "id": "piso",
          "name": "piso",
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          }
        })  }}
        {{ componentInput({
          "label": {
            "text": "Puerta"
          },
          "id": "puerta",
          "name": "puerta",
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:w-1/12"
          }
        })  }}
      </div>
      <div class="lg:flex lg:gap-base lg:items-end">
        {{ componentInput({
          "label": {
            "text": "Código postal *"
          },
          "id": "cp",
          "name": "cp",
          "classes": "w-full",
          "attributes": {
            "required": "",
            "size": "5",
            "maxlength": "5"
          },
          "formGroup": {
            "classes": "w-full lg:w-2/12"
          },
          "errorMessage": {
            "text": "Error: Este campo no puede estar vacío",
            "classes": "text-sm leading-tight"
          }
        })  }}
        {{ componentSelect({
          "id": "provincia",
          "name": "provincia",
          "label": {
            "text": "Provincia *"
          },
          "items": [
            {
              "value": 1,
              "text": "Huesca"
            },
            {
              "value": 2,
              "text": "Teruel"
            },
            {
              "value": 3,
              "text": "Zaragoza"
            }
          ],
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:w-3/12"
          },
          "attributes": {
            "required": ""
          }
        })  }}
        {{ componentSelect({
          "id": "municipio",
          "name": "municipio",
          "label": {
            "text": "Municipio *"
          },
          "items": [
            {
              "value": "",
              "text": "Elige tu municipio",
              "selected": true,
              "disabled": true,
              "attributes": {
                "hidden": ""
              }
            },
            {
              "value": 2,
              "text": "Option 2"
            },
            {
              "value": 3,
              "text": "Option 3"
            }
          ],
          "classes": "w-full",
          "formGroup": {
            "classes": "w-full lg:flex-1"
          },
          "attributes": {
            "required": ""
          }
        })  }}

      </div>
    {% endcall %}
    {{ componentButton({
      "type": "submit",
      "text": "Continuar",
      "classes": "c-button--primary mt-lg"
    })  }}
  </form>

 <!-- Start FAQ -->
  <div class="mb-lg">
    <h2 class="font-bold mb-base">Preguntas frecuentes</h2>
    <ul>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es una persona jurídica?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Qué es una persona física?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Es ...</p>
          </div>
        {% endcall %}
      </li>
      <li>
        {% call componentDetails({
          "summary": {
            "html": '¿Cuál debo elegir?'
          }
        })  %}
          <div class="prose ml-6">
            <p>Debo elegir la persona interesada en el trámite (jurídica o física). Es decir, si vas a a solicitar una subvención a nombre de tu empresa o entidad, tendrás que continuar como persona jurídica. Si lo vas a hacer a título individual tendrás que continuar como persona física. ..</p>
          </div>
        {% endcall %}
      </li>
    </ul>
  </div>
  <!-- end FAQ -->

{% endblock %}